@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-pt-sans: "PT Sans", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
}

body {
  font-family: var(--font-pt-sans);
  background-color: #d7d7d7;
}
