@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-elms-sans: "Elms Sans", sans-serif;
  --font-pt-sans: "PT Sans", sans-serif;
}

body {
  background-color: #120f0a;
}
