* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.btn-azul {
  background-color: rgb(41, 41, 138);
  color: #fff;
  padding: 15px 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}